<div class="settings">
  <div class="title">
    Select Audience Panel
  </div>
  <div class="options">
    <div class="audience-category">
      <div class="cat-des">Use system selected panels (auto) or manually select panels from Insight Exchange</div>
      <div class="option">
        <div class="option-square">
          <i class="fas fa-check"></i>
        </div>
        <div class="option-title">
          Insight Exchange (auto)
        </div>
      </div>
      <div class="option" (click)="toggle(1)">
        <div class="option-square">
          <i class="fas fa-check"></i>
        </div>
        <div class="option-title">
          Insight Exchange (169)
        </div>
      </div>
    </div>
    <div class="audience-category">
      <div class="cat-des">Select panels from alternatice sources of supply</div>
      <div class="option">
        <div class="option-square">
          <i class="fas fa-check"></i>
        </div>
        <div class="option-title">
          Adhoc Supplier
        </div>
      </div>
    </div>
    <div class="audience-category">
      <div class="cat-des">Create panel groups and control their ratio in a supply mix</div>
      <div class="option">
        <div class="option-square">
          <i class="fas fa-check"></i>
        </div>
        <div class="option-title">
          Supply Mix
        </div>
      </div>
    </div>
  </div>
</div>