<div class="bg">
  <div class="rectangle">
    <div class="group-4">
      <div class="create-audience-camp">
        Create Audience Campaign
      </div>
      <div class="action">
        <div class="group-3-copy-3">
          <span class="total">Total:</span>&nbsp;<span>USD 4000</span>
        </div>
        <div class="rectangle-2">
          <button class="confirm-order">Confirm Order</button>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="group-5">
      <div class="campaign-overview">
        Campaign Overview
      </div>
      <div class="mob">
        <div class="group2-copy"><span class="text">Survey Category:</span>&nbsp;<span class="text1">Banking & Finance</span></div>
      </div>
      <div class="con-t">
        <div class="group2-copy"><span class="text">Survey Category:</span>&nbsp;<span class="text1">Banking & Finance</span></div>
        <div class="group-2"><span class="text">Wanted Completes:</span>&nbsp;<span class="text1">1000</span></div>
        <div class="group-3"><span class="text">Feasible Completes:</span>&nbsp;<span class="text1">6715</span></div>
        <div class="group-3-copy"><span class="text">Avg Cost Per Interview:</span>&nbsp;<span class="text1">USD 5.5</span></div>
        <div class="griup-3-copy-2"><span class="text">Sub-Total:</span>&nbsp;<span class="text1">USD 5500</span></div>
      </div>
    </div>
  </div>
  <div class="rectangle-copy">
    <div *ngFor="let group of groups;let i=index">
      <div style="position: relative;">
        <app-group-title group_index={{i}}></app-group-title>
        <span (click)="toggle(i)" class="chevron-down"><i class="fas fa-chevron-down" *ngIf="!arrowDirectionUp[i]"></i><i class="fas fa-chevron-up" *ngIf="arrowDirectionUp[i]"></i></span>
      </div>
      <div class="collapse" [id]="i">
        <div class="container-1">
          <div class="tabs">
          <ul>
            <li (click)="openTab(i,k)" [ngClass]="{'activetab': cacService.reqTabIndex[i]==k,'custom-fade':(k!=0&&(cacService.basicSettingsErrors[i]==undefined||cacService.basicSettingsErrors[i]==true))||(cacService['selectedCountryDetails'][i] && cacService['selectedCountryDetails'][i]['regionTypes'].length==0&&k==1)}" *ngFor="let tab of cacService.tabNames;let k=index">
              <div class="title">
                {{cacService.tabNames[k]}}
              </div>
              <div class="briefDetails" *ngIf="k==0">
                <span *ngIf="cacService['targetGroupsDetails'][i]['noOfWantedCompletes']">{{cacService['targetGroupsDetails'][i]['noOfWantedCompletes']}} completes, </span>
                <span *ngIf="cacService['targetGroupsDetails'][i]['country']">{{cacService['targetGroupsDetails'][i]['country']}}, </span>
                <span *ngIf="cacService['targetGroupsDetails'][i]['gender']">{{cacService['targetGroupsDetails'][i]['gender']}}, </span>
                <span *ngIf="cacService['targetGroupsDetails'][i]['minAge']&&cacService['targetGroupsDetails'][i]['maxAge']">{{cacService['targetGroupsDetails'][i]['minAge']}}-{{cacService['targetGroupsDetails'][i]['maxAge']}}, </span>
                <span *ngIf="cacService['targetGroupsDetails'][i]['estimatedLengthOfInterview']">LOI {{cacService['targetGroupsDetails'][i]['estimatedLengthOfInterview']}} min, </span>
                <span *ngIf="cacService['targetGroupsDetails'][i]['estimatedIncidenceRate']">IR {{cacService['targetGroupsDetails'][i]['estimatedIncidenceRate']}}%, </span>
                <span *ngIf="cacService['targetGroupsDetails'][i]['startDate']">{{cacService['targetGroupsDetails'][i]['startDate'] | formatDate}}</span>
              </div>
              <div class="briefDetails" *ngIf="k==1">
                <span *ngIf="cacService['selectedCountryDetails'][i] && cacService['selectedCountryDetails'][i]['regionTypes'].length==0">Regional targeting might be available under profiling</span>
                <span *ngIf="cacService['selectedCountryDetails'][i] && cacService['selectedCountryDetails'][i]['regionTypes'].length!=0&&(!cacService['targetGroupsDetails'][i]['regionIDs']||cacService['targetGroupsDetails'][i]['regionIDs'].length==0)">No regions selected</span>
                <span *ngIf="cacService['targetGroupsDetails'][i]['regionIDs']&&cacService['targetGroupsDetails'][i]['regionIDs'].length!=0&&cacService.regionTypeSelected[i]">{{cacService['targetGroupsDetails'][i]['regionIDs'].length}} out of {{cacService['selectedCountryDetails'][i]['regionTypes'][cacService['selectedRegionTypeIndex'][i]]['regions'].length}} {{cacService['selectedCountryDetails'][i]['regionTypes'][cacService['selectedRegionTypeIndex'][i]]['name']}} selected</span>
              </div>
              <span class="arrow"><i class="fas fa-chevron-right"></i></span>
            </li>
          </ul>
          </div>
          <div class="tabs-mobile">
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{cacService.tabNames[cacService.reqTabIndex[i]]}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="openTab(i,j)" *ngFor="let tab of cacService.tabNames;let j=index">{{tab}}</a>
              </div>
            </div>
          </div>
          <div class="tab_content">
            <app-tabs [tab_index]="cacService.reqTabIndex[i]" group_index={{i}}></app-tabs>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <div class="add">
    <button class="btn btn-dark new" (click)="createTargetGroup()"><i class="fas fa-plus"></i>&nbsp;Add new target group</button>
  </div>
</div>
