<div class="settings">
  <div class="title">
    Setup Quota & Distributions
  </div>
  <div class="cpd-ca">
    <button>
      <label class="switch">
        <input type="checkbox" id="checkbox-1" (change)="toggle1($event)">
        <span class="slider round"></span>
      </label>      
      <span (click)="btnToggle1()" class="text">Setup quotas in percentage(%)</span>
    </button>
    <button>
      <label class="switch">
        <input type="checkbox" id="checkbox-2" (change)="toggle2($event)">
        <span class="slider round"></span>
      </label>
      <span class="text" (click)="btnToggle2()">Show feasibility numbers</span>
    </button>
  </div>
  <p>
    Quotas help you split the completes into groups of specific age, gender, regions and/or profiling. To interlock quotas click New interlocked quota below.
  </p>
  <div class="parent">
    <div class="children">
      <div class="c-header">
        <div class="c-title">Gender</div>
        <div class="c-description"><span>Selected: </span>{{cacService.targetGroupsDetails[group_index]['gender']}}</div>
        <div class="c-btns" [ngClass]="{'custom-fade': cacService.targetGroupsDetails[group_index]['gender']!='M&F'}">
          <div class="c-btn" (click)="toggleType('gender',0)">
            <div class="outer"></div>
            <div class="inner" *ngIf="cacService.quotasToggle[group_index]['gender'][0]"></div>
            None
          </div>
          <div class="c-btn" (click)="toggleType('gender',1)">
            <div class="outer"></div>
            <div class="inner" *ngIf="cacService.quotasToggle[group_index]['gender'][1]"></div>
            Census
          </div>
          <div class="c-btn" (click)="toggleType('gender',2)">
            <div class="outer"></div>
            <div class="inner" *ngIf="cacService.quotasToggle[group_index]['gender'][2]"></div>
            Custom
          </div>
        </div>
      </div>
      <div class="c-content" *ngIf="cacService.targetGroupsDetails[group_index]['gender']=='M&F'&& !cacService.quotasToggle[group_index]['gender'][0]">
        <div class="child">
            <div>Male</div>
            <div class="input-field">
              <input class="form-control" placeholder="100" aria-placeholder="100">
            </div>
        </div>
        <div class="child">
            <div>Female</div>
            <div class="input-field"><input class="form-control" placeholder="100" aria-placeholder="100"></div>
        </div>
      </div>
    </div>
    <div class="children">
      <div class="c-header">
        <div class="c-title">Region</div>
        <div class="c-description" *ngIf="regions.length!=0"><span *ngFor="let region of regions">{{region.name}}, </span></div>
        <div class="c-description" *ngIf="regions.length==0">No specific region(s) selected</div>
        <div class="c-btns" [ngClass]="{'custom-fade': regions.length<2}">
          <div class="c-btn" (click)="toggleType('region',0)">
            <div class="outer"></div>
            <div class="inner" *ngIf="cacService.quotasToggle[group_index]['region'][0]"></div>
            None
          </div>
          <div class="c-btn" (click)="toggleType('region',1)">
            <div class="outer"></div>
            <div class="inner" *ngIf="cacService.quotasToggle[group_index]['region'][1]"></div>
            Census
          </div>
          <div class="c-btn" (click)="toggleType('region',2)">
            <div class="outer"></div>
            <div class="inner" *ngIf="cacService.quotasToggle[group_index]['region'][2]"></div>
            Custom
          </div>
        </div>
      </div>
      <div class="c-content" *ngIf="regions.length>1 &&!cacService.quotasToggle[group_index]['region'][0]">
        <div class="child" *ngFor="let region of regions">
            <div>{{region.name}}</div>
            <div class="input-field">
              <input class="form-control" placeholder="100" aria-placeholder="100">
            </div>
        </div>
      </div>
    </div>
    <div class="children" *ngIf="questions.length!=0">
      <div class="c-header" *ngFor="let question of questions;let i=index">
        <div class="c-title">Profiling {{i+1}}</div>
        <div class="c-description">{{question.questionName}}</div>
        <div class="c-btns">
          <div class="c-btn">
            <div class="outer"></div>
            <div class="inner" *ngIf="cacService.quotasToggle[group_index]['profiling'][0]"></div>
            None
          </div>
          <div class="c-btn">
            <div class="outer"></div>
            <div class="inner" *ngIf="cacService.quotasToggle[group_index]['profiling'][2]"></div>
            Custom
          </div>
        </div>
      </div>
    </div>
  </div>
</div>