button{
    display: inline-flex;
    align-items: center;
}
button span.text{
    padding-left: 12px;
}
p{
    color: #2A2A2A;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 600;
    margin-top: 16.5px;
    letter-spacing: 0.71px;
    line-height: 14px;
}
.title{
    color: #2A2A2A;
    font-family: Cairo;
    margin-top: 25px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.71px;
    line-height: 32px;
}
.children{
    border:1px solid #EAEAEA;
    margin-top: 15px;
}
.c-header{
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 17px;
    position: relative;
    margin-top: 15px;
}
.parent{    
    margin-top: 27px;
}
.c-title{
    margin-top: 18px;
    color: #2A2A2A;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.83px;
    line-height: 16px;
}
.c-description{
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.71px;
    line-height: 14px;
    margin-top: 12px;
    margin-bottom: 18px;
    width: 56%;
}
.c-btns{
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}
.c-btns .c-btn{
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.71px;
    line-height: 14px;
    border: 1px solid #EAEAEA;
    border-radius: 4px 0 0 4px;
    background-color: #FAFAFA;
    padding: 15px 30px 15px 38px;
    outline: none;
    cursor: pointer;
    position: relative;
}
.c-btn .outer{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border:  1px solid rgb(234, 234, 234);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.c-btn .inner{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #64C07E !important;
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
}
.c-content .child{
    margin-left: 15px;
    margin-right: 17px;
    padding:0 10px 0 10px;
    height: 62px;
    border-top: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2A2A2A;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.75px;
    line-height: 15px;
}
.c-content .child:last-child{
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 16px;
}
.input-field{
    width: 60px;
    height: 35px;
}
.input-field .form-control{
    border: 1px solid #EAEAEA;
}
.custom-fade{
    opacity: 0.5;
}