<div class="group-title">
  <div class="title-1">
    <span>Target Group {{group_index*1+1}}</span>
    <span><i class="far fa-edit"></i></span>
    <span><i class="fas fa-cog"></i></span>
  </div>
  <div class="con-t">
    <div class="group2-copy" style="visibility: hidden;"><span class="text">Survey Category:</span>&nbsp;<span class="text1">Banking & Finance</span></div>
    <div class="group-2"><span class="text">Wanted Completes:</span>&nbsp;<span class="text1">{{cacService['targetGroupsDetails'][group_index]['noOfWantedCompletes']}}</span></div>
    <div class="group-3"><span class="text">Feasible Completes:</span>&nbsp;<span class="text1">6715</span></div>
    <div class="group-3-copy"><span class="text">Avg Cost Per Interview:</span>&nbsp;<span class="text1">USD 5.5</span></div>
    <div class="griup-3-copy-2"><span class="text">Sub-Total:</span>&nbsp;<span class="text1">USD 5500</span></div>
  </div>
</div>
<div class="line"></div>