.option{
    background-color: white;
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
}
.option-square{
    width: 20px;
    height: 20px;
    margin: 0 15px 0 15px;
    border:2px solid rgb(223, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
}
.option-square i{
    color: #64C07E;
    font-size: 12px
}
.count{
    color: #71954B;
    border-radius: 2px;
    background-color: #F7FFEF;
    padding: 7.5px 6px 6px 8px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.58px;
    line-height: 14px;
    position: absolute;
    right: 18px;
}